@page "/manager/edit/{EditId:int}"
@attribute [Authorize(Roles = "Manager")]
<h3 class="mt-4 text-center">Edit Profile</h3>

@if (updateModel == null)
{
	<p class="text-center">Loading...</p>
}
else
{

	<div class="text-center">
		<StatusMessage Message="@message" />
	</div>

	<EditForm Model="updateModel" OnValidSubmit="SubmitForm" FormName="EditProfileForm">
		<DataAnnotationsValidator />
		<ValidationSummary />
		<div class="row justify-content-center text-center">
			<div class="col-md-6">

				<div class="mb-3">
					<label>Full Name</label>
					<InputText @bind-Value="updateModel.FullName" class="form-control" />
				</div>

				<div class="mb-3">
					<label>Email</label>
					<InputText @bind-Value="updateModel.Email" class="form-control" />
				</div>

				<InputSelect @bind-Value="updateModel.DepartmentId" @Value="2" class="form-control">
					@foreach (var dep in departmentDTOs)
					{
						<option value="@dep.Id">@dep.Name</option>
					}
				</InputSelect>


				<div class="mb-3">
					<label>Job Title</label>
					<InputText @bind-Value="updateModel.JobTitle" class="form-control" />
				</div>

				<button type="submit" class="btn btn-primary w-100">Save Changes</button>

			</div>
		</div>

	</EditForm>
}
@code {
	[Parameter]
	public int EditId { get; set; }

	private List<DepartmentDTO> departmentDTOs = new();
	public string? message;
	private HttpClient client => ClientFactory.CreateClient("ApiClient");
	[SupplyParameterFromForm]
	public EditEmployeeDTO updateModel { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{

		try
		{
			departmentDTOs = await client.GetFromJsonAsync<List<DepartmentDTO>>("api/department/all");

			if (departmentDTOs == null)
			{
				Console.WriteLine("No departments returned or failed to deserialize.");
				departmentDTOs = new List<DepartmentDTO>();
			}
		}
		catch (Exception ex)
		{
			message = "An error occurred while loading the page.";
		}
	}

	private async Task SubmitForm()
	{
		var response =
			await client.PutAsJsonAsync<EditEmployeeDTO>($"api/department/edit/{EditId}", updateModel);
		if (response.IsSuccessStatusCode)
		{
			message = "Updated successfully.";
		}
		else
		{
			message = "Update failed.";
		}
	}
}
